In [32]:
import numpy as np
import pandas as pd
import json

In [33]:
ew = pd.read_csv("einwohnerbestand_06-2022_plr.csv", delimiter=";", na_values="–", dtype={'PLR-ID':'object'})
ew

,Gesamt,unter6,6-15,15-18,18-27,27-45,45-55,55-65,65undmehr,weiblich,ausländer,PLR-ID
0,3503.0,169.0,181.0,35.0,438.0,1193.0,377.0,396.0,714.0,1708.0,1509.0,01100101
1,1996.0,103.0,131.0,28.0,196.0,762.0,260.0,248.0,268.0,932.0,1065.0,01100102
2,5537.0,262.0,342.0,108.0,667.0,1743.0,629.0,749.0,1037.0,2560.0,2094.0,01100103
3,4850.0,254.0,400.0,128.0,808.0,1720.0,614.0,533.0,393.0,2228.0,1974.0,01100104
4,2981.0,139.0,177.0,38.0,372.0,1128.0,299.0,354.0,474.0,1411.0,1552.0,01100205
...,...,...,...,...,...,...,...,...,...,...,...,...
537,5978.0,516.0,773.0,264.0,680.0,1398.0,700.0,628.0,1019.0,2977.0,1939.0,12601032
538,11395.0,837.0,1455.0,443.0,1185.0,2743.0,1324.0,1260.0,2148.0,5850.0,3069.0,12601133
539,15645.0,1187.0,1815.0,578.0,1681.0,3470.0,1770.0,1768.0,3376.0,8139.0,3905.0,12601134
540,10650.0,770.0,1461.0,487.0,1266.0,2486.0,1268.0,1167.0,1745.0,5435.0,3286.0,12601235
541,3147.0,147.0,247.0,82.0,311.0,634.0,362.0,473.0,891.0,1588.0,630.0,12601236

In [34]:
ii = pd.read_csv("mss_2021_index-indikatoren_z-werte_plr.csv", delimiter=";", na_values="–", dtype={'PLR-ID':'object'})
ii

,PLR-ID,PLR-Name,EW 31.12.2020,zS1,zS3,zS4,Status-summe,Status-Index (standardisierte Statussumme),Zuordnung Klasse Status-Index,zD1,zD3,zD4,Dynamik-summe,Dynamik-Index (standardisierte Dynamik-summe),Zuordnung Klasse Dynamik-Index
0,01100101,Stülerstraße,3419,-0.25,-0.41,-0.31,-0.97,-0.33,mittel,0.41,0.91,1.31,2.64,1.27,negativ
1,01100102,Großer Tiergarten,1791,-1.30,-1.05,-0.97,-3.32,-1.12,hoch,-0.92,1.28,1.57,1.93,0.93,stabil
2,01100103,Lützowstraße,5211,0.12,0.65,0.49,1.25,0.42,mittel,-0.16,-0.82,-1.00,-1.99,-0.96,stabil
3,01100104,Körnerstraße,4636,0.41,1.00,0.92,2.34,0.79,mittel,0.18,0.16,-0.42,-0.08,-0.04,stabil
4,01100205,Wilhelmstraße,2573,-0.71,-0.65,-0.29,-1.64,-0.56,mittel,-0.63,-0.47,0.46,-0.64,-0.31,stabil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,12601032,Rollbergesiedlung,5922,1.92,3.06,2.44,7.42,2.51,sehr niedrig,0.58,-0.96,0.01,-0.37,-0.18,stabil
538,12601133,Treuenbrietzener Straße,11610,1.99,2.46,1.79,6.24,2.11,sehr niedrig,1.90,-2.19,-1.15,-1.45,-0.70,stabil
539,12601134,Märkisches Zentrum,14722,1.48,1.73,1.62,4.83,1.64,sehr niedrig,0.90,-1.54,-1.25,-1.90,-0.91,stabil
540,12601235,Dannenwalder Weg,10656,1.56,2.33,1.68,5.57,1.88,sehr niedrig,0.74,-0.83,-0.76,-0.86,-0.41,stabil
541,12601236,Schorfheidestraße,3131,-0.77,-0.54,-0.31,-1.62,-0.55,mittel,-0.62,-0.87,-1.36,-2.84,-1.37,positiv

In [35]:
ki = pd.read_csv("mss_2021_kontext-indikatoren_anteile_plr.csv", delimiter=";", na_values="–", dtype={'PLR-ID':'object'})
ki

,PLR-ID,PLR-Name,EW 31.12.2020,K01,K02,K03,K04,K05,K16,K06,K17,K07,K09,K10,K11,K12,K13
0,01100101,Stülerstraße,3419,2.82,25.62,9.73,83.18,59.93,40.57,-1.31,70.44,8.55,0.00,55.92,38.36,0.51,-4.83
1,01100102,Großer Tiergarten,1791,0.00,26.97,4.59,88.28,66.95,50.75,6.17,71.29,3.08,0.61,40.15,49.56,5.18,1.51
2,01100103,Lützowstraße,5211,3.85,27.27,20.20,80.80,58.36,35.56,0.80,65.84,21.04,6.04,57.49,29.78,2.41,0.30
3,01100104,Körnerstraße,4636,4.38,24.24,28.32,79.95,64.58,38.55,-1.40,75.94,25.29,8.24,59.03,32.69,-2.09,-2.65
4,01100205,Wilhelmstraße,2573,2.52,20.20,4.32,85.62,61.91,44.07,3.08,74.25,7.05,0.00,56.44,42.22,3.04,-5.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,12601032,Rollbergesiedlung,5922,3.71,32.78,11.96,70.65,49.95,31.29,1.48,72.64,56.03,99.75,65.45,16.24,-0.45,-1.64
538,12601133,Treuenbrietzener Straße,11610,5.27,35.22,10.08,74.37,52.70,26.33,0.97,71.21,43.32,100.00,71.70,13.31,-0.26,-0.64
539,12601134,Märkisches Zentrum,14722,4.92,33.69,5.82,69.56,45.65,22.81,2.67,75.91,41.73,74.01,70.65,13.97,1.04,2.89
540,12601235,Dannenwalder Weg,10656,4.65,31.69,7.81,78.87,57.78,30.47,1.97,77.95,46.87,84.04,72.83,14.93,-0.08,1.55
541,12601236,Schorfheidestraße,3131,1.46,19.64,2.69,69.96,42.83,18.05,-0.12,74.51,18.39,8.14,73.86,16.08,0.54,-0.58

In [36]:
indikatoren = ii.merge(ki.drop(columns=['PLR-Name', 'EW 31.12.2020']), on='PLR-ID')

In [37]:
df = ew.merge(indikatoren, on='PLR-ID')

In [38]:
df = df.set_index(df['PLR-ID'])
df.to_json(r'demographie_kombiniert_plr.json', orient='index', force_ascii=False)